/* Calendar Layout */
.calendar {
  height: 100vh;
}

.calendar__container {
  height: calc(100vh - 50px - 1rem);
}

/* Modal Styling */
.modal {
  background: var(--color-white);
  border: 1px solid var(--color-light-gray);
  border-radius: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  color: var(--color-dark-gray);
  display: inline;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  max-height: 600px;
  overflow: auto;
  outline: none;
  padding: 20px;
  position: absolute;
  margin-right: -50%;

  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.modal__background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__title {
  font-size: 2em;
  margin-top: 0;
}

/* React Modal Transitions */
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 999;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

/* Datetime Picker */
.react-datetime-picker__wrapper {
  border: none !important;
}

.react-datetime-picker__inputGroup__input,
.react-datetime-picker__button {
  color: var(--color-dark-gray);
  margin: 0 !important;
  padding: 0 !important;
}

.react-datetime-picker__button {
  padding-left: 0.5rem !important;
}
